<header>
    <nav>
        <div class="container-img">
            <a [routerLink]="['/home']">
                🍂 WigiLabs
            </a>
        </div>
        <div class="container-nav">
            <ul>
                <li>
                    <a href="https://github.com/ivangomezi/WigiLabs" target="_blank"><i class="fab fa-github"></i></a>
                </li>
                <li>
                    <a href="https://www.linkedin.com/in/iv%C3%A1n-francisco-g%C3%B3mez-alarc%C3%B3n-373a93172/" target="_blank"><i class="fab fa-linkedin"></i></a>
                </li>
                <li style="border-left: 1px solid #e1e1e1; color: #fff;">.</li>
                <li>
                    <a [routerLink]="['/gallery']">Galería</a>
                </li>
                <li>
                    <a [routerLink]="['/talk']" class="tumb">Agenda</a>
                </li>
            </ul>
        </div>
    </nav>
</header>