/* You can add global styles to this file, and also import other style files */
body {
    background: rgb(247,247,247, 1) !important;
    font-family: Poppins,sans-serif !important;
    
    /*space top*/
    margin: 0px;
}


.page {
    height: 50vh !important;
}
.page .container-wrapper .brand-center {
    top: 60% !important;
    text-align: center !important;
}

.wrapper {
    background-image: url('/assets/img/banner-home.png');
    background-repeat: no-repeat;
    background-size: center;
    height: 111vh;
    position: relative;
    overflow-x: hidden;
    overflow-y: hidden;
}

.container-wrapper {
    z-index: 2;
    position: relative;
    height: 100%;
    background: rgb(23,25,65) !important;
    background: linear-gradient(90deg, rgba(23,25,65,.9) 0%, rgba(90, 75, 128, .7) 100%) !important;
}
.container-wrapper .brand-center {
    position: absolute;
    top: 50%;
    left: 50%;
    z-index: 2;
    transform: translate(-50%,-50%);
    color: #fff;
    padding: 0 15px;
    width: 80%;
}

.container-wrapper .brand-center h1, .container-wrapper .brand-center h5 {
    width: 80%;
    margin: auto;
}
.brand-center .h1-t-home {
    font-weight: 600;
    color: rgba( 255, 87, 34, 1);
    text-shadow: 2px 2px 3px rgba(0,0,0,.3);
    margin-bottom: 1rem !important;
}
.brand-center .h5-t-home {
    font-weight: 300;
}

.brand-center .card .card-body {
    padding: 30px !important;
}
